.graph_container{
 

}
.progress{
    width: 160px;
    height: 160px;
    /* background-color: blue; */

}

.outer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    /* border: 1px solid red; */
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7)
    }

.inner{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* border: 1px solid red; */
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    font-size: 50px;
    
}



